.container{
  margin-left: 10px;
  margin-right: 10px;
}

.rubric{
border:  1px solid black;
height: 200px;
text-align: center;
}

.rubric-section{
  border-left: 1px solid black;
}

.rubric-number{
font-size: 40px;
font-weight: bold;
}

.rubric-title{
  font-size: 20px;
}
.essay{
  height:500px;
  margin-top: 20px;
  border: 1px solid black;
}

.comments-container{
  margin-top: 20px;
  float: right;
  height:500px;
  border: 2px solid black;
  border-left: 0px;

}
