.body{
  height: 100%;
  background-color: lightGrey;
}
.html{
  height: 100%;
  overflow: auto;
  margin-bottom: 10px;
}
.container-homepage{
  margin-left: 20px;
  margin-right: 20px;
}
.rubric-container{
  position: relative;
  z-index: 1;
}
.rubric{
  border:  1px solid black;
  text-align: center;
  background-color: white;
  margin-bottom: 20px;
}


.rubric-section{
  border-left: 1px solid black;
  height: 50px;
  width: 10%;
  text-align: center;
  padding: 15px;
  vertical-align: text-top;
}



.rubric-section-content{
  position:inline-block;
  padding-left: 100px;
}

.rubric-number{
font-size: 40px;
font-weight: bold;
}

.rubric-title{
  font-size: 32px;
}

.essay{
  margin-top: 10px;
  border: 1px solid black;
  margin-bottom: 50px;
  background-color: white;
}
.essay-title{
  margin-top: 20px;
  text-align: center;
}
.essay-text {
  font-size: 20px;
}

.Thesis-highlighter{
  background-color: #9400D3;
}

.Argument-highlighter{
   background-color:orange;
}

.summary{
  margin-bottom: 20px;
  font-size: 18px;
  border: 1px solid black;
  background-color: white;
}
.summary-title{
  text-align: center;
}

.summary-button{
  margin-bottom: 20px;
  padding-right: 10px;
  background-color: #17a2b8;
  font-size: 30px;
  color:#fff;
}
.comments{
  margin-top: 10px;
  height:100% important!;
  margin-bottom: 10px;
}

.input-comment{
  margin-top: 20px;
  height:90px;
  width: 90%;
  border: 1px solid black;
  margin-left: 20px;
  font-size: 20px;
}

.comment-type{
  padding-left: 20px;
  padding-top: 10px;
}

.input-comment-container{
  height:220px;
  margin-bottom: 50px;
  margin-top: 10px;
  background-color: white;
  margin-left: 60px;
  border: 1px solid grey;
  vertical-align: text-top;
}
.select-comment{
  margin-top: 10px;
  margin-bottom:0px;
  margin-left: 20px;
  font-size: 18px;
  height:25px;
  width: 90%;
  word-wrap: break-word;
  white-space: normal;
}

.add-comment{
  display: flex;
  float: right;
}

.comment-highlight{
  display:inline-block;
  list-style-type: none;
  padding-right: 20px;
  float: left;
  width: 88px;
  height: 64px;
}

.submit-essay{
float:right;

}

.submit-button{
  margin-bottom: 20px;
  padding-right: 10px;
  background-color: #17a2b8;
  font-size: 30px;
  color:white;
  background-color: #007bff
}

.add-comment-button{
  font-size: 22px;
  margin-bottom: 30px;
  background-color: #5cb85c;
  color:#fff;
  float: left;
  width: 200px;
}


.delete-comment-button{
  display: flex;
  float: right;
  margin-bottom: 0px;
  margin-right: 20px;
   margin-top: 10px;
  background-color: #d9534f;
  color: #fff;
  font-size: 16px;
  height:35px;
  position:relative;
}
.select-comment-type{
  margin-bottom:40px;
  margin-left: 60px;
  font-size: 20px;
  width: 300px;
}
.modal{
  background-color: orange
  height:300;
  width:200;
  position: fixed;
  font-size: 50px;
}

.modalBackdrop{
  position: 'fixed',
  top: 0,
  bottom: 0,
  left: 0,
  right: 0,
  backgroundColor: 'rgba(0,0,0,0.3)',
  padding: 50
}
.radio-section-button{
  margin-left:30px;
}

.rubric-hovering-note{
  font-weight:bolder;
  font-size: 22px;
  color: black;
  border: 1px solid black;
  background-color: white;
  text-align: center;
}

.Thesis-section{
  border: solid 8px #9400D3;
}

.Argument-section{
  border: solid 8px orange;

}

.analysis-section{
  border: solid 8px #17a2b8;

}

.conclusion-section{
  border: solid 8px brown;
}
