.container-homepage{
  margin: 20px 0px 20px 30px;
}

.rubric{
border:  1px solid black;
height: 200px;
text-align: center;
}

.rubric-section{
  border-left: 1px solid black;
}

.rubric-number{
font-size: 40px;
font-weight: bold;
}

.rubric-title{
  font-size: 20px;
}
.essay{
  height:100%;
  margin-top: 20px;
  border: 1px solid black;
  margin-bottom: 80px;
}

.comments-container{
  margin-top: 20px;
  height:500px;
  border: 2px solid black;
}
